/* Font-Family */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --primary-font:"Poppins", sans-serif;
  --secondary-color: rgba(23, 70, 137, 1);
  --third-color:rgba(13, 34, 158, 1);
}

body {
  overflow-x: hidden !important;
  font-family: var(--primary-font);
}
html{
  overflow-x: hidden !important;
}

/* Navbar */
.header_wrapper .navbar-brand img {
  height: 75px;
}

.main-btn {
  border-radius: 100px;
  box-shadow: 0px 5px 10px 0px #00000026;
  background-color: var(--secondary-color);
  color: #fff;
  border: 1px solid var(--secondary-color);
  text-decoration: none;
  padding: 10px 17px 10px 17px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0em;
  display: inline-block;
  transition: 0.5s;
  gap: 5px;
  text-transform: uppercase;
  box-shadow: 0px 4px 6px 0px #00000033;
}

.header_wrapper .nav-item .main-btn::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' class='bi bi-arrow-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8'/%3E%3C/svg%3E") !important;
}

.main-btn:hover {
  background-color: #fff;
  color: #000 !important;
  outline: 1px solid var(--secondary-color);
}

.header_wrapper .nav-item {
  margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0px;
  color: var(--secondary-color);
  text-transform: capitalize;
}

.header_wrapper .mobile_menu {
  display: none;
}

.header_wrapper .mobile_menu[name="menu-outline"] {
  font-size: 20px !important;
  width: 20px;
  height: 20px;
}
.header_wrapper .navbar{
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}

.header-scrolled {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 91px;
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
  background-color: #fff;
  top: -80px !important;
  left: 0;
  width: 100% !important;
  transform: translateY(80px) !important;
  transition: transform 500ms ease, background 500ms ease !important;
  z-index: 9999;
}

/* Mobile-menu */

.mobil_menu_wrapper.offcanvas .accordion-body .drop-link {
  padding: 8px 34px 8px 5px;
  background: #f9f9fb;
  margin-bottom: 10px;
  gap: 20px;
}

.mobil_menu_wrapper .accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' class='bi bi-plus-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16'/%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E") !important;
}

.mobil_menu_wrapper .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' class='bi bi-dash-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16'/%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E") !important;
}

.mobil_menu_wrapper .accordion-item .accordion-button-2:not(.collapsed)::after {
  background-image: none !important;
}

.mobil_menu_wrapper .accordion-button,
.mobil_menu_wrapper .accordion-item .accordion-button-2 a {
  text-decoration: none !important;
  color: #000 !important;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
}

.mobil_menu_wrapper .accordion-button:not(.collapsed) {
  color: #000 !important;
  background-color: #fff !important;
}

.mobil_menu_wrapper .accordion-button:focus {
  border-color: none !important;
  border: none !important;
  box-shadow: none !important;
}

.mobil_menu_wrapper .accordion-button-2 {
  font-size: 1rem !important;
  color: #212529 !important;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
}

.mobil_menu_wrapper .offcanvas-title img {
  height: 66px;
}

.mobil_menu_wrapper .accordion-button-2 a.main-btn {
  color: #fff !important;
}

/* Banner-sec-start */
/* 
.banner_wrapper .banner_sec img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.banner_wrapper .banner_content {
  position: absolute;
  top: 25%;
  left: 5%;
}

.banner_wrapper .banner_content h4 {
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.023em;
  text-align: left;
  color: #fff;
}

.banner_wrapper .banner_content h2 {
  font-family: "Manuale", serif;
  max-width: 500px;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
}
.banner_wrapper .banner_content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.023em;
  color: #fff;
  max-width: 500px;
}
.banner_wrapper .banner_content .btn-sec {
  display: flex;
  align-items: center;
  gap: 10px;
}
.banner_wrapper .banner_content .btn-sec a {
  text-decoration: none;
  color: #fff;
  background-color: rgba(80, 79, 66, 1);
  padding: 8px 18px;
  border-radius: 4px;
  transition: all 0.3s;
  font-size: 18px;
}
.banner_wrapper .banner_content .btn-sec a:hover {
  background-color: #00000052;
  outline: 1px solid #fff;
} */
 .banner_wrapper .bottom_img{
  position: absolute;
  bottom: -4px;
  z-index: 99;
  width: 100%;
 }
 .banner_wrapper .banner_sec .bg_img{
  width: 100%;
  height: 500px;
  object-fit: cover;
 }
 .banner_wrapper .bottom_img img{
  width: 100%;
 }
 .banner_wrapper .caot_img{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 9998;
 }
#banner-content_bx{
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
 }
 #banner-content_bx .banner_inner_content h2{
  color: #fff;
  text-align: center;
  font-size: 31px;
  line-height: 50px;
  font-weight: 700;
 }
 #banner-content_bx .banner_inner_content p{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
 }
 .booking_btn .main-btn{
  background-color: var(--third-color);
  font-size: 18px;
 }
 #banner-content_bx .banner_inner_content{
  /* background: #0d42b6b8; */
  padding: 10px;
  border-radius: 5px;
 }
/* Banner-sec-end */


/* Banner-new-start */
.banner_new {
  height: 450px;
  background-color: #091c36;
}
.banner_new .curves{
  position: relative;
  width: 100%;
  height: 500px;
  background: #fff;
  /* content: ""; */
  /* top: 0; */
  /* left: 0; */
  /* clip-path: circle(608px at 31px); */
  clip-path: ellipse(50% 100% at 1% 50%)
}
.banner_new .container-fluid{
  position: relative;
}
.banner_new .container-fluid .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.banner_new .content_bx h5{
  font-size: 20px;
  font-weight: 600;
}
.banner_new .content_bx h5 span{
  color: var(--third-color);
}
.banner_new .content_bx h1 span{
color: var(--third-color);
}
.banner_new .content_bx .bordr .line_b{
  width: 80px;
  height: 3px;
  background: var(--third-color);
}
.banner_new .content_bx .bordr{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

/* Banner-new-end */

/* Our-work-process-section-start */

.working_process_wrapper{
  margin-top: 80px;
  padding: 30px 0;
  text-align: center;
}
.working_process_wrapper .step-btn h4{
  background: #fff;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 14px;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: 500;
}
.working_process_wrapper .process_content h5{
  color: #fff;
  font-weight: 600;
}
.working_process_wrapper .process_content p{
  color: #fff;
}

/* Our-work-process-section-end */

/* Service-sec-start */
.service_card_wrapper{
  background-repeat: no-repeat !important;
}
.service_card_wrapper .sub_title{
  font-weight: 700;
  font-size: 40px;
  color: var(--secondary-color);
}

.service_card_wrapper .service_card_bx .content_bx p{
  max-width: 182px;
  margin: 0 auto;
}
.service_card_wrapper .service_card_bx .content_bx .dry-cleaning{
  max-width: 130px;
}
.service_card_wrapper .service_card_bx .content_bx h3{
  color: var(--secondary-color);
  font-weight: 600;
}
.service_card_wrapper .service_card_bx .service_btn_bx .main-btn{
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translate(-50%, -13%);
}
.service_card_wrapper .service_card_bx .img_bx img{
  width: 128px;
}
.service_card_wrapper .row.secodary_service{
  padding-top: 80px;
}

/* Service-sec-end */

/* Working-process-start */

.working_process_wrapper{
  background: url(../images/banner/banner-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}
.working_process_wrapper .testi-title h3{
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
/* Working-process-end */

/* Testimonial-sec-start */

.testimonial_wrapper .testi-title h3{
  font-size: 35px;
  font-weight: 700;
}
.testimonial_wrapper .testi-title h3 span{
  color: var(--secondary-color);
}
.testimonial_wrapper .review_slider .top_content{
  display: flex;
  justify-content: space-between;
}
.testimonial_wrapper .review_slider .featured-img{
  display: flex;
  align-items: center;
  gap: 20px;
}
.testimonial_wrapper .review_slider .featured-img .img_bx{
  display: none !important;
}
.testimonial_wrapper .review_slider .featured-img img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.testimonial_wrapper .review_slider .inverted_comma h5{
  font-size: 65px;
  color: var(--secondary-color);
}
.testimonial_wrapper .review_slider .rating .fas{
color: var(--secondary-color);
}
.testimonial_wrapper .review_slider .about_cont h5{
  color: #000;
  font-weight: 500;
}
.testimonial_wrapper .review_slide_bx .line{
  width: 100%;
  height: 2px;
  background: rgba(217, 217, 217, 1);
}
.testimonial_wrapper .bottom-content p{
  font-size: 20px;
}
.testimonial_wrapper .review_slide_bx{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}

.testimonial_wrapper .review_slider .owl-nav .owl-prev{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-97%,-50%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(23, 70, 137, 0.4);
  width: 50px;
  height: 50px;
  border-radius: 50%;

}
.testimonial_wrapper .review_slider .owl-nav .owl-next{
  position: absolute;
  top: 50%;
 right: 0%;
  transform: translate(97%,-50%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(23, 70, 137, 0.4);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* Testimonial-sec-end */

/* Location-sec-start */
.working_process_wrapper.location_wrap  .testi-title h3{
 text-transform: capitalize;
}

.working_process_wrapper.location_wrap .loaction_bx{
  background: #fff;
  border-radius: 10px;
}
.working_process_wrapper.location_wrap .loaction_bx p{
  margin: 0;
}
.working_process_wrapper.location_wrap .loaction_bx .img-location{
  padding: 18px;
}
.working_process_wrapper.location_wrap .loaction_bx img{
  width: 100%;
  border-radius: 10px;
}
.working_process_wrapper.location_wrap .loaction_bx .loaction_info .ad{
display:flex;
align-items: center;
gap: 10px;
margin-bottom: 15px;
}
.working_process_wrapper.location_wrap .loaction_bx .loaction_info .ad span{
  width: 35px;
  height: 35px;
  background: var(--secondary-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 15px;
}
.working_process_wrapper.location_wrap .loaction_bx .content_bx{
  padding: 12px;
}
.working_process_wrapper.location_wrap .loaction_bx .content_bx h5{
  text-align: left;
  margin-bottom: 20px;
}
/* Location-sec-end*/

/* Blog-section-start  */
.blog_wrappr .blog-slider .blog_bx{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 10px;
  padding: 10px;
}
.blog_wrappr .blog-slider .blog_bx a{
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
.blog_wrappr .blog-slider .blog_bx .blog-link{
  padding: 10px 0;
}
.blog_wrappr .testi-title h3 {
  font-size: 35px;
  font-weight: 700;
}
.blog_wrappr .testi-title h3 span{
  color: var(--secondary-color);
}
/* Blog-section-end  */

/* Get-in-touch-start  */
.contacts_wrapper .bg_image img{
  width: 100%;
}
.contacts_wrapper .bg_image{
  position: relative;
  z-index: 1;
}
.contacts_wrapper .bg_image::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(89.13% 267.64% at 8.47% 36.46%, #FFFFFF 0%, rgba(255, 255, 255, 0.4) 47.43%, rgba(255, 255, 255, 0.7) 99.69%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.contacts_wrapper .get_in_bx h4{
  color: var(--secondary-color);
  font-size: 40px;
  font-weight: 600;
}
.contacts_wrapper .container.secondary_cont{
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99;
}
.contacts_wrapper .content_bx .bg_para{
  background:var(--third-color);
  color: #fff;
  display: inline-block;
  padding: 8px;
  border-radius: 100px;
}
.contacts_wrapper .content_bx .color_para{
     position: absolute;
    top: 12%;
    max-width: 401px;
    right: 8px;
    color: #fff;
    padding: 6px;
}
.contacts_wrapper .bottom_contact_info .info_bx {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.contacts_wrapper .bottom_contact_info .info_bx p{
  margin: 0;
  color: var(--secondary-color);
}
.contacts_wrapper .bottom_contact_info .info_bx span {
  width: 35px;
  height: 35px;
  background: var(--secondary-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 15px;
}
.submit_btn{
  background: var(--third-color) !important;
}
/* Get-in-touch-end */

/* New-Get-in-touch-start */

.new_get_touch{
  background: url(../images/banner/get-touch.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.new_get_touch .contact_info_sec h4{
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.new_get_touch .contact_info_sec p{
  color: #fff;
}
.new_get_touch .contact_info_sec .bottom_contact_info .info_bx{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.new_get_touch .contact_info_sec .bottom_contact_info .info_bx span{
  width: 40px;
  height: 40px;
  background: #fff;
  color: var(--third-color);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.new_get_touch .contact_info_sec .bottom_contact_info .info_bx p a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.new_get_touch .form-control{
  padding: 15px 10px;
}
.new_get_touch .form-control:focus{
  box-shadow: none;
}

/* New-Get-in-touch-end */


/****Faq-section-start ****/
.faq_wrapper .accordion-button:focus{
box-shadow: none !important;
}
.faq_wrapper .accordion-button:not(.collapsed){
background: var(--secondary-color) !important;
color: #fff;
border-radius: 10px 10px 0px 0px;
}
.faq_wrapper .accordion-button{
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  border-radius: 10px 10px 0px 0px;
}
.faq_wrapper .accordion-item{
  margin-bottom: 20px;
  border: 1px solid rgba(239, 246, 254, 1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0px 0px;
}
.faq_wrapper .accordion-body{
  background: rgba(80, 79, 66, 0.05);
  color: #000;
}
.faq_wrapper .accordion-body h6{
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.03em;
}
.faq_wrapper .accordion-item:first-of-type .accordion-button{
  border-radius: 10px 10px 0px 0px !important;
}
.faq_wrapper .accordion-button::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' class='bi bi-plus-square-dotted' viewBox='0 0 16 16'%3E%3Cpath d='M2.5 0q-.25 0-.487.048l.194.98A1.5 1.5 0 0 1 2.5 1h.458V0zm2.292 0h-.917v1h.917zm1.833 0h-.917v1h.917zm1.833 0h-.916v1h.916zm1.834 0h-.917v1h.917zm1.833 0h-.917v1h.917zM13.5 0h-.458v1h.458q.151 0 .293.029l.194-.981A2.5 2.5 0 0 0 13.5 0m2.079 1.11a2.5 2.5 0 0 0-.69-.689l-.556.831q.248.167.415.415l.83-.556zM1.11.421a2.5 2.5 0 0 0-.689.69l.831.556c.11-.164.251-.305.415-.415zM16 2.5q0-.25-.048-.487l-.98.194q.027.141.028.293v.458h1zM.048 2.013A2.5 2.5 0 0 0 0 2.5v.458h1V2.5q0-.151.029-.293zM0 3.875v.917h1v-.917zm16 .917v-.917h-1v.917zM0 5.708v.917h1v-.917zm16 .917v-.917h-1v.917zM0 7.542v.916h1v-.916zm15 .916h1v-.916h-1zM0 9.375v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .916v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .917v.458q0 .25.048.487l.98-.194A1.5 1.5 0 0 1 1 13.5v-.458zm16 .458v-.458h-1v.458q0 .151-.029.293l.981.194Q16 13.75 16 13.5M.421 14.89c.183.272.417.506.69.689l.556-.831a1.5 1.5 0 0 1-.415-.415zm14.469.689c.272-.183.506-.417.689-.69l-.831-.556c-.11.164-.251.305-.415.415l.556.83zm-12.877.373Q2.25 16 2.5 16h.458v-1H2.5q-.151 0-.293-.029zM13.5 16q.25 0 .487-.048l-.194-.98A1.5 1.5 0 0 1 13.5 15h-.458v1zm-9.625 0h.917v-1h-.917zm1.833 0h.917v-1h-.917zm1.834-1v1h.916v-1zm1.833 1h.917v-1h-.917zm1.833 0h.917v-1h-.917zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z'/%3E%3C/svg%3E");
}


.faq_wrapper .accordion-button:not(.collapsed)::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='%23fff' class='bi bi-dash-square-dotted' viewBox='0 0 16 16'%3E%3Cpath d='M2.5 0q-.25 0-.487.048l.194.98A1.5 1.5 0 0 1 2.5 1h.458V0zm2.292 0h-.917v1h.917zm1.833 0h-.917v1h.917zm1.833 0h-.916v1h.916zm1.834 0h-.917v1h.917zm1.833 0h-.917v1h.917zM13.5 0h-.458v1h.458q.151 0 .293.029l.194-.981A2.5 2.5 0 0 0 13.5 0m2.079 1.11a2.5 2.5 0 0 0-.69-.689l-.556.831q.248.167.415.415l.83-.556zM1.11.421a2.5 2.5 0 0 0-.689.69l.831.556c.11-.164.251-.305.415-.415zM16 2.5q0-.25-.048-.487l-.98.194q.027.141.028.293v.458h1zM.048 2.013A2.5 2.5 0 0 0 0 2.5v.458h1V2.5q0-.151.029-.293zM0 3.875v.917h1v-.917zm16 .917v-.917h-1v.917zM0 5.708v.917h1v-.917zm16 .917v-.917h-1v.917zM0 7.542v.916h1v-.916zm15 .916h1v-.916h-1zM0 9.375v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .916v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .917v.458q0 .25.048.487l.98-.194A1.5 1.5 0 0 1 1 13.5v-.458zm16 .458v-.458h-1v.458q0 .151-.029.293l.981.194Q16 13.75 16 13.5M.421 14.89c.183.272.417.506.69.689l.556-.831a1.5 1.5 0 0 1-.415-.415zm14.469.689c.272-.183.506-.417.689-.69l-.831-.556c-.11.164-.251.305-.415.415l.556.83zm-12.877.373Q2.25 16 2.5 16h.458v-1H2.5q-.151 0-.293-.029zM13.5 16q.25 0 .487-.048l-.194-.98A1.5 1.5 0 0 1 13.5 15h-.458v1zm-9.625 0h.917v-1h-.917zm1.833 0h.917v-1h-.917zm1.834 0h.916v-1h-.916zm1.833 0h.917v-1h-.917zm1.833 0h.917v-1h-.917zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1z'/%3E%3C/svg%3E");
}

.faq_wrapper .m-title h3{
  font-size: 35px;
  font-weight: 700;
}
.faq_wrapper .m-title h3 span{
  color: var(--secondary-color);
}
/**** Faq-section-End  ****/

/* footer-sect-start */

.footers{
  background: url(../images/banner/banner-3.png);
}
.footers .left_img img{
  width: 550px;
}
.footers .footer_link ul li{
  color: #fff;
}
.footers .footer_link ul li a{
  color: #fff;
  text-decoration: none;
  line-height: 32px;
  font-size: 20px;
}
.footers .footer_link h4{
  color: #fff;
  font-weight: 600;
}
.footers .footer_link.first{
  margin-left: 51px;
}

.footers .contact-in .info_bx{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.footers .contact-in .info_bx p{
  margin: 0;
  color: #fff;
}
.footers .contact-in .info_bx span {
  width: 35px;
  height: 35px;
  background: #fff;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 15px;
}
.footers .blog_info .blog_img{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.footers .blog_info .blog_img img{
  width: 100px;
}
.footers .blog_info .icon_bx{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
.footers .blog_info .icon_bx a{
  color: #fff;
  font-size: 40px;
}
.footers .blog_info h4{
  color: #fff;
  margin-bottom: 20px;
  font-weight: 600;
}
.offcanvas{
  z-index: 9999;
}
/* footer-sect-end */

/* New-footer-start */

 .new_footer{
  background: #f1f5f8;
 }
  .new_footer .footer_logo .bottom_contact_info .info_bx{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
 .new_footer .footer_logo .bottom_contact_info .info_bx span{
  width: 40px;
  height: 40px;
  background: var(--third-color);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
 .new_footer .footer_logo .bottom_contact_info .info_bx p a{
  color: #000;
  text-decoration: none;
  font-size: 18px;
}
.new_footer .footer_link h4{
  color: var(--third-color);
  font-size: 25px;
  font-weight: 600;
}
.new_footer .footer_link li a{
  text-decoration: none;
  color: #000;
  font-size: 18px;
  line-height: 33px;
}

.new_footer .blog_info .blog_img{
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.new_footer .blog_info .blog_img img{
  width: 81px;
}
.new_footer .blog_info .icon_bx{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
.new_footer .blog_info .icon_bx a{
  color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  background: var(--third-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
}
.new_footer .blog_info h4{
  color: #fff;
  margin-bottom: 20px;
  font-weight: 600;
}
.bottom-footer{
  background: #000;
}
.bottom-footer h4{
  color: #fff;
  padding: 20px 0;
  font-size: 20px;
}
/* New-footer-end */

/* Inenr-banner-start */
.inner_banner .inner-banner-img{
  position: relative;
}
.inner_banner .inner-banner-img img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.inner_banner .inner-banner-img::after{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #0000005c;
}
.inner_banner .inner-banner-img .banner_content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  z-index: 9;
}
.inner_banner .inner-banner-img .banner_content h1{
  color: #fff;
  font-size: 48px;
  font-weight: 600;
}
.inner_banner.blog-details .inner-banner-img .banner_content h1{
  max-width: 800px;
  margin: 0 auto;
}

/* Inner-banner-end */

/* Service-details-section-start */

.service_details h3{
  font-size: 30px;
  font-weight: 500;
  border-bottom: 3px solid var(--secondary-color);
  display: inline-block;
}
.service_details .all_service-list ul li{
  list-style: none;
  /* border: 1px solid #000; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px 10px;
  padding: 10px 0 10px 10px;
}
.service_details .all_service-list ul li a{
  text-decoration: none;
  color: #000;
}
.service_details .all_service-list{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 5px;
  padding-left: 8px;
  padding-bottom: 5px;
  border-radius: 5px;
} 
.service_details .feature_img_sec img{
  width: 100%;
  border-radius: 5px;
}
.service_details .title h2{
  font-size: 40px;
  text-transform: capitalize;
}
.cta_btn{
  background: var(--third-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
}
.cta_btn a{
  font-size: 50px;
  font-family: var(--primary-font);
  color: #fff !important;
  font-weight: 600;
  text-decoration: none;
}

/* Service-details-section-end */

/* Blog-page-start */

.blog_card_wrapper .blog_bx .blog_feature img{
  width: 100%;
}
.blog_card_wrapper .blog_bx{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 10px;
  padding: 10px;
}
.blog_card_wrapper .blog_bx .blog-link a{
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
.blog_card_wrapper .blog_bx .read_more_btn .main-btn{
  border-radius: 5px;
}

/* Blog-page-end */


/* Blog-details-start */

.blog-details-wrapper .recent_blog .recent_blog_card{
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
  margin: 20px 0;
}
.blog-details-wrapper .recent_blog .recent_blog_card img{
  width: 100px;
  border-radius: 5px;
}
.blog-details-wrapper .recent_blog .recent_blog_card a{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  max-width: 240px;
  display: block;
}
.blog-details-wrapper .recent_blog h4{
  font-size: 30px;
  font-weight: 500;
}
.blog-details-wrapper .fetured_image img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}
.blog-details-wrapper .blog_content h3{
  font-size: 40px;
}
/* Blog-details-end */


/* Pricing-section-start */
.pricing-wrapper .nav-pills .nav-link{
  color: #000;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid var(--secondary-color);
  margin: 0 10px;
}
.pricing-wrapper .nav-pills .nav-link.active{
  color: #fff;
  background: var(--third-color);
}
.pricing-wrapper .pricing-plan-card .plan_card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 12px;
  border-radius: 5px;
}
.pricing-wrapper .pricing-plan-card .plan_card .plan_img{
  display: flex;
  align-items: center;
  gap: 10px;
}
.pricing-wrapper .pricing-plan-card .plan_card .plan_img h4{
  font-size: 19px;
}
.pricing-wrapper .pricing-plan-card .cards_wrapper .enquiry_btn a{
  text-decoration: none;
  color: #fff;
  background: var(--third-color);
  padding: 10px;
  border-radius: 0 8px;
}
body.modal-open{
  padding: 0 !important;
}
.modal{
  z-index: 9999;
}
.btn.btn-primary.form_btn{
  background: var(--third-color) !important;
}
.btn-secondary.close_btn{
  background: var(--third-color) !important;
}
.modal-header .btn-close{
  border: 1px solid var(--third-color);
}

/* Pricing-section-end */


/* Location-page-start */
.working_process_wrapper.location_page{
  background: none !important;
  margin-top: 0;
}
.working_process_wrapper.location_page h3{
  color: #000;
}
.working_process_wrapper.location_page .loaction_bx{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
/* Location-page-end */

/* Conatct-page-start */

.contact_wrapper h4{
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
}
.contact_wrapper p{
  font-size: 18px;
  font-weight: 500;
}
.contact_wrapper .contact_info_sec{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
  border: 2px dotted var(--third-color);
  padding: 10px 0;
}
.contact_wrapper .contact_info_sec .email{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contact_wrapper .contact_info_sec .email .ico{
  width: 50px;
  height: 50px;
  background: var(--third-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #fff;
}
.contact_wrapper .contact_info_sec .email .email_t a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 600;
}
.contact_wrapper .conatact_form{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 30px;
  border-radius: 0px 20px;
  border: 2px solid var(--third-color);
}

/* Conatct-page-end */



/* New-pricing-sec-start */

.new_price_wrapper{
  background: url(../images/banner/banner-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}
.new_price_wrapper .pricing_cards .pricing_title h3{
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
}
.new_price_wrapper .pricing_cards .pricing_title {
  background: #02126f;
  padding: 8px 0;
  margin-bottom: 10px;
}
.new_price_wrapper .pricing_content_wrap{
  background: #fff;
  padding: 3px 20px;
}
.new_price_wrapper .pricing_content_wrap .content_bx{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  border-bottom: 2px solid #bde0e3;
  padding: 10px 0;
}
.new_price_wrapper .pricing_content_wrap .content_bx:last-child{
  border-bottom: none;
}
.new_price_wrapper .pricing_content_wrap .content_bx .price p{
  font-weight: 700;
}
.new_price_wrapper .table thead{
  background: #02126f;
  color: #fff;
}
.new_price_wrapper .table thead th{
  font-size: 28px;
  font-weight: 700;
}
.new_price_wrapper .table tbody{
  background: #fff;
}
.new_price_wrapper .table tbody tr{
  padding: 10px !important;
}
.new_price_wrapper .table>:not(caption)>*>*{
  border-color: #bde0e3;
}
/* New-pricing-sec-end */




